<main class="home-page">
      <h2>Character Creation</h2>
      
    <div class="title-container">
        
    <div class="icon">
          <i class="fa fa-address-card"></i>
    </div>
    <div class="icon">
          <i class="fa fa-group"></i>
    </div>
      </div>

</main>
