<main>

    <div class="title-container">
        <h2>Check out quotes from these categories:</h2>
    </div>
    {{#each categories}}
        <div class="quote-category">
        {{!-- {{@index}} -  --}} 
        <a href="/quotes/{{this}}">{{this}}</a>
      </div>
    {{/each}}
      
    </main>
    
 

