<main class="home-page">

      <div class="content-wrapper">
            <div class="left-container">
                  <ul class="item-list">
                        {{#each races}}
                              <li class="list-item">{{this.name}}</li>
                        {{/each}}
                  </ul>
            </div>
            <div class="right-container">
                  this is totally a statblock
            </div>
      </div>
</main>
