:root {
  --text-color1: #5C3D2E;
  --text-color2: whitesmoke;

  --background1: #F5EFEB;
  --background2: #1F1F1F;

  --red1: #DD3E3E;
  --red2: #AD3743;
  --red3: #562F42;

  --color2: #90A9BD;
  --color2accent: #475464;
  --color2accent2: #252B39;

  --statblock-background: #FBF1DE;
  --statblock-bar: #DB9D43;
  --statblock-text: #78280F;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background1);
  font-family: Cochin, serif;
}

header {
  background-color: var(--red1);
  color: var(--text-color2);
  /* box-shadow: 0 1px 4px rgba(0,0,0,.475); */
}


@media (width > 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}




a {
  text-decoration: none;
  color: #00859b;
}

a:hover {
  color: #b8dde1;
}

.site-title {
  margin: 0;
  padding: 15px;
}

.site-title.right {
  padding-top: 0;
  float: right;
}

.welcome-message {
  margin: 0;
  padding-left: 30px;
  padding-bottom: 10px;
}

.navbar {
  font-size: 22px;
  background-color: #fff;
}

.navlist {
  margin: 0;
  padding-left: 0;
}

.navitem {
  display: inline-block;
}

.navitem:hover {
  background-color: rgba(228, 189, 161, 0.18);
}

.navitem a {
  display: inline-block;
  color: var(--text-color1);
  padding: 10px 20px;
}

.navitem.right {
  float: right;
}

.quote-card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.quote-card {
  flex: 1 32%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin: 5px;
  font-size: 20px;

  height: 100px;
  display: flex;
  flex-direction: column;
}

.author {
  margin-top: auto;
}

.pet-photo-img {
  max-height: 300px;
}

.error-page {
  text-align: center;
}

.error-page h2 {
  font-weight: 100;
  font-size: 100px;
  margin-bottom: 0;
}

.error-page h3 {
  font-size: 24px;
  margin-top: 0;
}

.home-page .icon {
  display: inline-block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 192px;
  color: var(--text-color1);
}

.title-container {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
}

.title-container h1 {
  margin: 20px 0;
  font-size: 64px;
  font-weight: 400;
}

.title-container h2 {
  margin: 10px 0;
  font-size: 48px;
  font-weight: 400;
}

.quote-category {
  max-width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 28px;
}

#add-quote-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  background-color: #006a8e;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#add-quote-button:hover,
#add-qupte-button:focus {
  right: 27px;
  bottom: 27px;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  font-size: 36px;
}

#add-quote-button:focus {
  outline: none;
}

/*
 * Modal stuff
 */
#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#add-quote-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.action-button {
  font-size: 20px;
  color: white;
  padding: 10px;
  background-color: #000;
  border: 1px solid #ababab;
  border-radius: 5px;
  font-weight: lighter;
  cursor: pointer;
}

.action-button:hover {
  background-color: #006a8e;
  border-color: #333;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.quote-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.quote-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.quote-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
}

#modal-cancel {
  color: #333;
  background-color: #fff;
}

#modal-cancel:hover {
  background-color: #eee;
}

footer {
  margin-top: 15px;
  padding:10px;
  background-color: var(--red1)  !important;
  color: white;
  text-align: center;
  line-height: normal;
  position:absolute;
  bottom: 0;
  width: 100%;
}



/* Additions */

fieldset {
  background: rgba(0,0,0,0.1);
  max-width: 35%;
  margin: auto;
  padding: 20px;
}

button {
  float: left;
  margin-left: 35px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.right-content {
  text-align: left;
}

.right-content>input {
  min-width: 80%;

}

input {
  border: solid 1px grey;
  text-align: left;
  padding: 5px;
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 16px;
}

.content-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.left-container {
  width: 48%;
  height: 78vh;
  margin: 10px;
  margin-right: 0;
  float: left;
  overflow-y: auto;
  /* background-color: black; */
  /* background-color: #f0f0f0; */
  border-right: 1px solid #ccc;
}
.right-container {
  width: 50%;
  height: 78vh;
  margin: 10px;
  margin-left: 0;
  float: right;
  overflow-y: auto;
  background-color: #ffffff;
  box-sizing: border-box;
}

.item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #333;
}

.list-item:nth-child(even) {
  background-color: #00000010;
}